.ui-datepicker-calendar .ui-datepicker-unselectable span { background: none repeat scroll 0 0 red !important; color:#fff !important; }
.ui-datepicker-calendar td a { background: none repeat scroll 0 0 #008000 !important; color:#fff !important; }
.ui-datepicker-calendar .ui-state-disabled{ opacity:0.85 !important; cursor:no-drop !important;	}
#applicable_category{ border: 1px solid #D0D0D0; height: 273px; overflow-y: auto; padding: 7px;	width: 40%; }
#applicable_category li.checked{ background:#222222; color:#cccccc;	}
#applicable_category li { border: 1px solid #D0D0D0; }
/*#applicable_category input { float: left; left: 5px; position: relative; top: 10px; }*/
#applicable_category label { display: block; padding: 7px 10px 7px 25px; }
#woo_dd .help_tip {	float: right; }
#woo_dd .help_tip:hover{ cursor:help; }	




#applicable_category input[type="checkbox"] {
    float: left;
    left: 5px;
    position: relative;
    top: 10px;
}
#applicable_category input[type="number"] {
    background: none repeat scroll 0 0 #fefefe;
    box-shadow: 0 0 5px inset;
    color: black;
    float: right;
    height: 23px;
    position: relative;
    top: -26px !important;
    width: 65px;
}
.dd_heading{
    background: none repeat scroll 0 0 #0074a2;
    font-size: 15px;
    padding: 6px 20px;
    color: white;
}