.ui-datepicker-calendar .ui-datepicker-unselectable span { background: none repeat scroll 0 0 red !important; color:#fff !important; }
.ui-datepicker-calendar td a { background: none repeat scroll 0 0 #008000 !important; color:#fff !important; }
.ui-datepicker-calendar .ui-state-disabled{ opacity:0.85 !important; cursor:no-drop !important;	}